/* Fonts and basic styling */
body {
    font-family: 'Noto Sans TC', Arial, sans-serif;
    background-color: white;
    color: #3f2e2d; /* Dark brown for primary text */
    margin: 0;
    padding: 0;
}

/* Header styling */
header {
    background-color: #C93E2E; /* Red */
    color: white;
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
/* Style the logo itself */
/* Logo styling */
.logo {
    max-width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 10px;
}

.logo img {
    width: 100%;
    height: auto;
}

main {
    flex-grow: 1;
    text-align: center;
    padding: 20px;
}

#quick-links {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the buttons horizontally */
    margin: 20px 0;
}

.link-button {
    margin: 10px 0;
    width: 75%;  /* Set a fixed width for the buttons */
    height: 60px;  /* Set a fixed height for the buttons */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C93E2E;
    border-radius: 20px;
}

.link-button a {
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-button:hover {
    background-color: #8E1515;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

/* Social media icons */
.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 30px;  /* Smaller size */
    height: 30px;
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.2);  /* Scale effect on hover */
}




/* Main container for the gallery */
.cocktail-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Cocktail items in the gallery */
.cocktail-item {
    text-align: center;
    cursor: pointer;
    padding: 20px;
    border-radius: 8px;
    background-color: #FAF9F6; /* Off-white */
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.cocktail-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.cocktail-item h2 {
    color: #C93E2E; /* Red */
    font-size: 1.2em;
    margin: 10px 0;
}

.cocktail-item p {
    color: #555; /* Neutral dark grey for better readability */
    font-size: 0.9em;
    line-height: 1.5;
}

.cocktail-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

/* Buttons styling */
button, .back-button {
    background-color: transparent;
    color: #C93E2E; /* Red */
    padding: 10px 20px;
    border: 2px solid #C93E2E; /* Red */
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    font-size: 1em;
}

button:hover, .back-button:hover {
    background-color: #C93E2E; /* Red */
    color: #fff; /* White */
}

/* Single cocktail details */
/* Cocktail title in body */
#cocktailTitle {
    color: #C93E2E; /* Red */
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
}

.cocktail-details {
    text-align: center;
    padding: 40px;
    background-color: #FAF9F6; /* Off-white */
    border-radius: 8px;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#cocktailImage {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

h1, h2 {
    color: #C93E2E; /* Red */
    text-transform: uppercase;
    letter-spacing: 1px;
}

p {
    color: #3f2e2d; /* Dark brown */
    font-size: 1em;
    line-height: 1.6;
}

.back-button-container {
    display: grid;
    place-items: center; /* Centers content both horizontally and vertically */
    width: 100%; /* Ensures the container takes up full width */
    margin-bottom: 40px;
}

/* Back to Menu Link */
.back-to-menu {
    margin-top: 20px;
    margin-bottom: 50px;
    text-decoration: none;
    color: #C93E2E;
    font-size: 16px;
}

/* Footer warning styling */
.footer-warning {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #3f2e2d;
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 10000;
}

.footer-warning img {
    max-width: 100%;
    height: auto;
}

/* Miscellaneous */
a {
    text-decoration: none;
    color: #C93E2E; /* Red */
}

a:hover {
    color: #8E1515; /* Dark red */
}

/* Responsive styling for mobile */
@media (max-width: 768px) {
    h1 {
        font-size: 20px;
    }

    #quick-links h2 {
        font-size: 24px;
    }

    .link-button a {
        padding: 10px 20px;
        font-size: 16px;
    }

    button, .back-button {
        padding: 8px 16px;
    }

    footer {
        font-size: 16px;
    }
}


/* Age verification overlay */
.age-verification-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.age-verification-modal {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.age-verification-modal h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.age-verification-modal p {
    margin-bottom: 20px;
}

.age-verification-modal button {
    background-color: #C93E2E;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.age-verification-modal button:hover {
    background-color: #8E1515;
}